#contact-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #edf2f4;
    color: #070707;
    padding: 2em;
  }
  
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    font-family: "Inter", sans-serif;
  }
  .contact__name {
    width: 50%;
    padding: 1em;
    margin-bottom: 1em;
    font-family: "Inter", sans-serif;
    border: none;
    border-radius: 1em;
  }
  .contact__textarea {
    font-family: "Inter", sans-serif;
    padding: 1em;
    width: 50%;
    border: none;
    border-radius: 1em;
  }
  .contact .btn--primary {
    padding: 0.5em;
    margin-bottom: 1em;
  }
  